﻿@model ShoppingCart
<h2>Your Cart</h2>
<table class="table">
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Name</td>
            <td>
                <form asp-controller="ShoppingCart" asp-action="UpdateCartItem" method="post">
                    <input type="hidden" name="productId" value="@item.ProductId" />
                    <input type="number" name="quantity" value="@item.Quantity" min="1" />
                    <button class="btn btn-primary" type="submit">Cập nhật</button>
                </form>
            </td>
            <td>@item.Price</td>
            <td>@(item.Price * item.Quantity)</td>
            <td>
                <form asp-controller="ShoppingCart" asp-action="RemoveItem" method="post">
                    <input type="hidden" name="productId" value="@item.ProductId" />
                    <button class="btn btn-danger" type="submit">Remove</button>
                </form>
            </td>
        </tr>
    }
    <a asp-action="Checkout" class="btn btn-info">Đặt hàng</a>
</table>
