﻿@model BuiQuangHao_2208_lab3.Models.Product


@{
    ViewData["Title"] = "Display";
}

<h1>Display</h1>

<div>
    <h4>Product</h4>
    <hr />
    <div class="container">
        <section class="py-5">
            <div class="container">
                <div class="row gx-5">
                    <aside class="col-lg-6">
                        <div class="mb-3 d-flex justify-content-center">
                            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="@Html.DisplayFor(model => model.ImageUrl)">
                                <img style="max-width: 230px; max-height: 300px; margin: auto;" class="rounded-4 fit" src="@Html.DisplayFor(model => model.ImageUrl)" />
                            </a>
                        </div>
                    </aside>
                    <main class="col-lg-6">
                        <div class="ps-lg-3">
                            <h4 class="title text-dark">
                                @Html.DisplayFor(model => model.Name)
                            </h4>
                            <div class="d-flex flex-row my-3">
                                <div class="text-warning mb-1 me-2">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <span class="ms-1">
                                        4.5
                                    </span>
                                </div>
                                <span class="text-muted"><i class="fa fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
                                <span class="text-success ms-2">In stock</span>
                            </div>
                            <div class="mb-3">
                                <div class="row">
                                    <dt class="col-3">Price:</dt>
                                    <dd class="col-9">@Html.DisplayFor(model => model.Price)</dd>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row">
                                    <dt class="col-3">Description:</dt>
                                    <dd class="col-9">@Html.DisplayFor(model => model.Description)</dd>
                                </div>
                            </div>



                            <div class="row">
                                <dt class="col-3">Category:</dt>
                                <dd class="col-9">@Html.DisplayFor(model => model.Category.Name)</dd>
                            </div>

                            <hr />

                            <div class="row mb-4">
                                <div class="col-md-4 col-6 mb-3">
                                    <label class="mb-2 d-block">Quantity</label>
                                    <div class="input-group mb-3" style="width: 170px;">
                                        <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <input type="text" class="form-control text-center border border-secondary" placeholder="0" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                                        <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-warning shadow-0"><i class="me-1 fa fa-money fa-lg"></i>Buy now</a>
                            <a href="#" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart</a>
                            <a href="#" class="btn btn-light border border-secondary py-2 icon-hover px-3"><i class="me-1 fa fa-heart fa-lg"></i> Save</a>
                        </div>
                    </main>
                </div>
            </div>
        </section>
    </div>
</div>
<div>
    <a asp-action="Index">< button class="btn btn-primary">Back to List</button ></a>
</div>