﻿@model IEnumerable<BuiQuangHao_2208_lab3.Models.Product>

@{
    ViewData["Title"] = "Index";
    int numOfQuantity = 1;
}

<h1>Book List</h1>

<p>
    <a asp-action="Add"><button class="btn btn-success">Create Product</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.Price.ToString("#,##0")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@item.ImageUrl" style="width: 180px; height: 200px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id"><button class="btn btn-warning">Update</button></a> |
                    <a asp-action="Display" asp-route-id="@item.Id"><button class="btn btn-success">Details</button></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger">Delete</button></a>
                </td>
                <form asp-controller="ShoppingCart" asp-action="AddToCart" method="post">
                    <input type="hidden" name="productId" value="@item.Id" />
                    <label for="quantity">Số lượng:</label>
                    <input type="number" id="quantity" name="quantity"
                           value="1" min="1" />
                    <button class="btn btn-info" type="submit">
                        Thêm vào giỏ
                        hàng
                    </button>
                </form>

            </tr>
        }
    </tbody>
</table>